body{
	margin : 0;
}
section{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
	padding:0  3rem;
}
.side-list{
	  background-color: #95afba; 
	  display:flex;  
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  position : fixed;
	  min-height: 100vh;
	  width: 15rem;
	  font-size: 1.2em;
}
.main-content{
	background-color: #EAF0ED;
	display:flex;
	flex-direction: column;
	padding-left: 15rem;
	font-size: 1.5rem;
}
.objf{
	width : auto;
	height : 30vh;
}
.onebox{
	display:flex;  
}
.onebox-left{
	
	width : 70%;
}
.onebox-right{
	word-break;
	color: #95afba;
	text-align:right;
	width : 30%;
}
a{
	font-size: 1.5em;
	margin:10px;
	font-family :Arial;
	color :black;
	text-decoration:none;
	transition-duration: 0.4s;
} 
a:hover{
  color: white;
}
.circle{
	width:  7.5rem;
	border-radius: 50%;
}
#p{
	width: 45vw;
	height: 60vh;
}